body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Header Section Start */
.info-header {
    background-color: #9f1f63;
}
.info-header a:hover {
    text-decoration: none;
}
.contact-link {
    display: flex;
}
.logo {
    width: 220px;
}
.header .navbar-nav .nav-link:hover {
    transition: all 0.5s;
    color: #9f1f63 !important;
}
.active .nav-link {
    color: #9f1f63 !important;
}

/* Hero Section Start */
.hero-img {
    width: 100%;
    height: auto;
}
.hero .hero-hedding {
    color: #103d69;
    font-weight: 700;
    font-size: 45px;
}
.hero .hero-paregraph {
    color: #010101;
    font-size: 26px;
    margin: 40px 0px;
}
.hero .hero-btn {
    background-color: #9f1f63;
    color: white;
}
.hero .carousel-caption {
    text-align: left;
    right: auto;
    bottom: auto;
    width: 50%;
    left: 8.5%;
    top: 17%;
}
.hero .carousel-control-btn {
    position: absolute;
    bottom: 10%;
    left: 8.5%;
}
.hero .carousel-control-prev {
    width: 35px;
    height: 30px;
    background-color: #9f1f63;
    color: #fff;
    opacity: 1;
    font-size: 25px;
    left: 0px;
}
.hero .carousel-control-next {
    width: 35px;
    height: 30px;
    background-color: #9f1f63;
    color: #fff;
    opacity: 1;
    font-size: 25px;
    left: 50px;
}
.hero .carousel-control-prev:hover,
.hero .carousel-control-next:hover {
    transition: all 0.5px;
    color: #9f1f63;
}

/* Services section Start */
.services {
    margin: 100px 0px;
}
.services-image {
    width: 100%;
    padding-right: 30px;
}
.services-details {
    font-size: 20px;
    margin: 40px 0px;
}
.services-span {
    color: #9f1f63;
    text-transform: uppercase;
}
.services-hedding {
    color: #103d69;
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 20px;
}
.services-peregraph {
    font-size: 21px;
    margin: 21px 0px;
}

/* Business Process Section Start */
.business-process {
    background-color: #103d69;
    color: white;
    padding: 72px 0px;
}
.business-process-span {
    color: #6ba7e1;
    text-transform: uppercase;
    font-size: 20px;
}
.business-process-hedding {
    font-weight: 600;
    max-width: 65%;
    margin: 17px auto;
    font-size: 32px;
}
.business-process .iconbox {
    width: 110px;
    height: 110px;
    border: 3px solid #fff;
    position: relative;
    transform: rotate(45deg);
}
.business-process .card-process .card-header {
    background-color: transparent;
    border-bottom: none;
    justify-content: center;
    display: flex;
}
.business-process .iconbox-nomber {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 100%;
    color: #9f1f63;
    transform: rotate(-45deg);
    font-size: 24px;
    font-weight: 600;
    padding: 6px;
    position: absolute;
    top: -24px;
    left: -24px;
}
.business-process .iconbox-icons {
    transform: rotate(-45deg);
    padding: 23px;
}
.business-process .card-body {
    width: 85%;
    margin: 0 auto;
}
.business-process .card-body .card-title {
    text-transform: uppercase;
    font-size: 15px;
}
.business-process .card-body .card-text {
    color: #c1cdd8;
    font-size: 13px;
}
.business-process .icons-01 {
    width: 85px;
}
.business-process .icons-02 {
    width: 85px;
}
.business-process .icons-03 {
    width: 95px;
}
.business-process .icons-04 {
    width: 105px;
}

/* Key Things Section Start */
.key-things {
    margin: 100px 0px;
}
.key-things .key-img {
    width: 100%;
}
.key-things .key-span {
    color: #9f1f63;
    text-transform: uppercase;
    font-size: 20px;
}
.key-things .key-hedding {
    font-weight: 600;
    color: #103d69;
    font-size: 34px;
    margin-bottom: 80px;
}
.key-things .key-box {
    width: 60px;
    height: 60px;
    background-color: #9f1f63;
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    transform: rotate(45deg);
}
.key-things .key-box .key-rank {
    width: 100%;
    height: 100%;
    transform: rotate(-45deg);
    padding: 8px;
}
.key-things .key-row {
    margin: 3rem 0;
}

/* Footer Section Start */
.footer {
    background-color: #103d69;
    color: #fff;
    border-top: 12px solid #9f1f63;
}
.footer .footer-logo {
    width: 70%;
}
.footer .logo-div {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .service-list {
    list-style: none;
    padding-left: 0px;
}
.footer .Contact-us-list {
    list-style: none;
    padding-left: 0px;
}
.footer .footer-headding {
    text-transform: uppercase;
    font-size: 20px;
}
.footer .service-list a{
    color: #728da7;
    line-height: 35px;
}
.footer .Contact-us-list a {
    color: #728da7;
    line-height: 35px;
    font-weight: bold;
}
.footer .service-list a:hover,
.footer .Contact-us-list a:hover {
    text-decoration: none;
}

@media screen and (max-width: 1400px) {
    .hero-img {
        width: 1400px;
    }
    .hero .carousel-caption {
        top: 17%;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 1000px;
    }
    .hero .carousel-caption {
        top: 10%;
    }
    .services-peregraph {
        font-size: 15px;
    }
    .services-hedding {
        font-size: 30px;
    }
    .services-details {
        margin: 17px 0px;
    }
    .business-process .card-body {
        width: 100%;
    }
    .key-things .key-hedding {
        font-size: 32px;
        margin-bottom: 50px;
    }
    .key-things .key-img {
        margin: 35px 0px;
    }
    .key-things .key-row {
        margin: 2rem 0;
    }
    .key-things .key-row .key-text {
        padding-left: 15px;
    }
}

@media screen and (max-width: 992px) {
    .logo {
        width: 180px;
    }
    .container {
        max-width: 820px;
    }
    .hero .carousel-caption {
        width: 70%;
    }
    .services-span {
        font-size: 17px;
    }
    .services-details {
        margin: 0px 0px;
    }
    .services-hedding {
        font-size: 24px;
    }
    .services-peregraph {
        font-size: 13px;
        margin: 10px 0px;
    }
    .key-things .key-img > .col-lg-6 {
        display: flex;
    }
    .key-things .key-img-col {
        display: flex;
    }
    .key-things .key-img {
        width: 55%;
        margin: 0 auto;
    }
    .key-things .key-row {
        margin: 3rem 0;
    }
    .key-things .key-row .key-text {
        padding-left: 0px;
    }
    .footer .logo-div {
        width: 300px;
    }
    .footer .footer-logo {
        width: 90%;
        padding: 10px 0px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 710px;
    }
    .hero .carousel-caption {
        width: 85%;
        text-align: center;
    }
    .hero .hero-hedding {
        font-size: 43px;
    }
    .hero .hero-paregraph {
        font-size: 24px;
    }
    .services {
        margin: 60px 0px;
    }
    .services-image {
        padding-right: 0px;
    }
    .services-span {
        font-size: 20px;
    }
    .services-hedding {
        font-size: 34px;
    }
    .services-peregraph {
        font-size: 21px;
        margin: 21px 0px;
    }
    .business-process-hedding {
        max-width: 85%;
    }
    .business-process .card-process {
        max-width: 70%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 550px) {
    .hero .hero-hedding {
        font-size: 40px;
    }
    .hero .hero-paregraph {
        font-size: 21px;
    }
    .hero .carousel-caption {
        top: 10%;
    }
    .key-things .key-row .key-text {
        padding-left: 15px;
    }
}

@media screen and (max-width: 505px) {
    .contact-link {
        display: block;
    }
    .contact-link li {
        border: none !important;
    }
    .contact-link li a {
        margin: 0 !important;
    }
    .logo {
        width: 150px;
    }
    .hero .hero-hedding {
        font-size: 33px;
    }
    .hero .hero-paregraph {
        font-size: 18px;
    }
    .hero .hero-btn {
        font-size: 1rem;
    }
    .hero .carousel-caption {
        top: 17%;
    }
    .business-process-hedding {
        max-width: 100%;
    }
    .business-process .card-process {
        max-width: 100%;
    }
}

@media screen and (max-width: 475px) {
    .key-things .key-row .key-text {
        padding-left: 25px;
    }
    .key-things .key-img {
        width: 100%;
    }
    .key-things .key-box {
        margin-top: 25px !important;
    }
}

@media screen and (max-width: 375px) {
    .info-header {
        font-size: 0.8rem;
    }
    .logo {
        width: 130px;
    }
    .hero .carousel-caption {
        top: 10%;
    }
    .services-span {
        font-size: 18px;
    }
    .services-hedding {
        font-size: 30px;
    }
    .services-peregraph {
        font-size: 18px;
        margin: 15px 0px;
    }
    .key-things .key-row .key-text {
        padding-left: 40px;
    }
}