/* Common CSS */
section {
    padding: 100px 0;
}

.section-title {
    padding-bottom: 50px;
}

.section-title h2 {
    font-size: 16px;
}

.section-title h3 {
    font-size: 40px;
}

.y-center-contant {
    display: flex;
    align-items: center;
}

.error {
    color: #f00;
    font-size: 15px;
}

/* Type Number arrow remove */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Button css */
.btn-primary:hover {
    background-color: transparent;
    border-color: #95c0ff;
}

.my-btn-primary {
	padding: 10px 15px !important;
	border-radius: 5px;
	font-size: 16px;
    display: inline-block;
    position: relative;
    color: #fff !important;
    background-color: transparent;
    border-color: #95c0ff;
    display: flex;
    align-items: center;
    z-index: 1;
}

.my-btn-primary::after {
	position: absolute;
	left: 0;
	top: 0;
	content: "";
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to right, #106eea,  #3097e6, #106eea) !important;
	z-index: -1;
	border-radius: 5px;
	transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-ms-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	background-size: 220% 150%;
}

.my-btn-primary:hover::after, 
.my-btn-primary:active {
    background-position: -70% 0;
    background-color: transparent;
}

.my-btn-primary i {
    font-size: 20px;
    margin-left: 5px;
}

.counts {
    padding: 0px;
}


/* TopBar Section Starts */
#topbar {
    font-size: 16px;
}

#topbar .contact-info i a {
    color: #ececec;
}

#topbar .contact-info i a:hover {
    text-decoration: none;
}

#topbar .container {
    display: flex;
    justify-content: space-between;
}



/* Header Section Starst */
.navbar a {
    font-size: 17px;
}

#header .logo img {
    max-height: 60px;
}

#hero {
    height: 85vh;
}

#hero:before {
    content: none;
}

#header.fixed-top {
    height: 80px
}


/* Hiro Section Starts */
#hero h1 {
    font-size: 40px;
    margin-bottom: 15px;
    color: #444444;
}

.hiro-second h1 {
    color: #636263 !important;
    letter-spacing: 1px;
}

#hero p {
    color: gray;
    font-size: 20px;
    margin-bottom: 15px;
}

.hiro-second {
    height: 40vh !important;
}

.hiro-second h1 {
    text-align: center;
}

.hiro-second {
    background: url(../img/hero-second-bg.jpg) top left !important;
    background-size: cover !important;
}

.hiro-img img {
    width: 100%;
}


/* Featured Services Section */
.featured-services .title {
    font-size: 22px;
}

/* About us section starts */
.about .content h3 {
    font-weight: 600;
    font-size: 38px;
}
.our-perpose-and-perspective h3 {
    font-size: 32px !important;
}
.our-perpose-and-perspective .img-fluid {
    border-radius: 8px;
}


/* Services section starts */
.services .icon-box {
    padding: 50px 30px;
    border-radius: 0.5rem;
}

.service-bg-icon {
    position: absolute;
    bottom: 0px;
}

.service-bg-icon i { 
    font-size: 100%;
}

.services .icon-box .icon {
    border-radius: 50%;
    margin-bottom: 30px;
}

.services .icon-box h4 {
    margin-bottom: 20px;
}

.services .icon-box:hover .icon {
    box-shadow: #e7f1fd 0px 1px 5px, #e7f1fd 0px 0px 0px 5px;
}


/* Testimonial Section Starts */

.testimonials .testimonial-item h3 {
    font-size: 24px;
}


/* Frequently Asked Questions Starst */
.faq .faq-list i {
    left: auto;
    right: 0;
}


/* Portfolio Section Starts */
.portfolio .portfolio-item .portfolio-info .details-link {
    right: 20px;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
    font-size: 28px;
}


/* Start Call Button Section */
.consultation {
    background-image: url(../img/consultation-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

.consultation-content h2 {
    font-size: 40px;
}

.consultation-content h2 span {
    color: #fff;
}

.consultation-content p {
    font-size: 18px;
}


/* Why Choose Us Starts */
.why-choose-us .content {
    display: flex;
    align-items: center;
}

.why-choose-us .content h3 {
    font-size: 38px;
}

.why-choose-us .section-title {
    text-align: left;
    padding-bottom: 0;
}

.why-choose-us .section-title p {
    width: 100%;
    margin-bottom: 20px;
}

.why-choose-us .section-title a {
    display: inline-block;
}


/* Frequently Asked Questions Starts */
.faq {
    padding: 100px 0;
}

.faq .section-title {
    text-align: left;
    padding-bottom: 0%;
}

.faq .section-title p {
    width: 100%;
    margin-bottom: 20px;
}


/* Maps Section Starts */
.maps {
    padding-bottom: 100px;
}


/* Career Section Starts */
.career .section-title h3 {
    font-size: 24px;
    max-width: 545px;
    margin: auto;
}
.career .container .container {
    max-width: 1024px;
}
.logo-career {
    width: 230px;
    margin-bottom: 10px;
}

.career .career-form input, .career .career-form select {
    padding: 10px 15px;
}

.career .career-form input, .career .career-form textarea, .career .career-form select {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.career .career-form .form-select.error {
    color: #212529;
}

.career-msg {
    display: block;
    margin-top: 20px;
}

.career-msg .snippet {
    display: none;
}

/* Contact Section Starts */
.contact .js-email-form button[type="submit"] {
    background: transparent;
}

.contact .js-email-form button[type="submit"]:hover {
    background-color: transparent;
}

.contact-details {
    height: 100%;
}

.contact .info-box {
    height: 86%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-msg {
    margin-left: 10px;
}

.contact-msg .snippet {
    margin-left: 20px;
}

.contact-msg .snippet {
    display: none;
}


/* Three Dots CSS */
.dot-elastic {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #106eea;
    color: #9880ff;
    animation: dotElastic 1s infinite linear;
}
  
.dot-elastic::before, .dot-elastic::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
}

.dot-elastic::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #106eea;
    color: #9880ff;
    animation: dotElasticBefore 1s infinite linear;
}
  
.dot-elastic::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #106eea;
    color: #9880ff;
    animation: dotElasticAfter 1s infinite linear;
}

@keyframes dotElasticBefore {
    0% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(1, 1.5);
    }
    50% {
      transform: scale(1, 0.67);
    }
    75% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(1, 1);
    }
}

@keyframes dotElastic {
    0% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1, 1.5);
    }
    75% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(1, 1);
    }
}

@keyframes dotElasticAfter {
    0% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1, 0.67);
    }
    75% {
      transform: scale(1, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
}



/* Footer Section Starts */
#footer{
    padding: 0%;
    background: #1f1f1f;
}

#footer .footer-top {
    padding: 100px 0 70px 0;
}

#footer .footer-top {
    background: #252525;
}

.footer-logo {
    max-height: 70px;
}

#footer .footer-top h4 {
    color: #ffffff;
}

#footer .footer-top .footer-contact p {
    color: #e2e2e2;
}

#footer .footer-top .footer-links ul a {
    color: #e2e2e2;
}

#footer .footer-newsletter {
    background: none;
    padding: 0px;
}

#footer .footer-newsletter form input[type="email"] {
    outline: none;
}

#footer .footer-newsletter form {
    border-right: none;
}

.social-link i {
    width: 22px;
}

.social-links .facebook {
    background: #1877f2 !important;
}

.social-links .twitter {
    background: #55acee !important;
}

.social-links .instagram {
    background: linear-gradient(29.61deg, #f38334 0%, #da2e7d 50.39%, #6b54c6 100%) !important;
}

.social-links .skype {
    background: #1877f2 !important;
}

.social-links .linkedin {
    background: #0a66c2 !important;
}

#footer .footer-top .social-links a {
    padding: 10px 0;
}

#footer .footer-top .social-links a:hover {
   background: #106eea !important;
}

.copyright-footer {
    color: #e2e2e2;
}

.back-to-top {
    background: #106eea;
}


/* 404 error section starts */
.page-not-found .btn {
    display: inline-block;
    margin-top: 20px;
}

.page-not-found .image-wrap {
    max-width: 800px;
    margin: 0 auto;
}

.page-not-found .image-wrap img {
    width: 100%;
}


@media only screen and (max-width: 1400px) {

    #hero h1 {
        font-size: 36px;
    }

}


@media only screen and (max-width: 1200px) {
    
    .about .content h3 {
        font-size: 35px;
    }

    #hero h1 {
        font-size: 32px;
        line-height: 45px;
    }

    #hero p {
        font-size: 16px;
    }

}


@media only screen and (max-width: 1024px) {
    
    .about .content h3 {
        font-size: 33px;
    }

}


@media only screen and (max-width: 992px) {

    .hiro-img img {
        display: none;
    }

    .about .content h3 {
        font-size: 40px;
    }
    
    .why-choose-us .section-title {
        text-align: center;
        padding-bottom: 0px;
    }
    
    .error {
        font-size: 13px;
    }

    .logo-career {
        width: 185px;
    }

    .career .section-title h3 {
        font-size: 20px;
        max-width: 455px;
    }

}


@media only screen and (max-width: 768px) {
    
    section {
        padding: 80px 0;
    }
    
    .hiro-second {
        height: 30vh !important;
    }
    
    .hiro-second h1 {
        font-size: 35px !important;
    }

    .logo-career {
        width: 170px;
    }

}


@media only screen and (max-width: 576px) {

    .hiro-second {
        background: url(../img/hero-second-bg.jpg) top right !important;
    }

    .career .section-title h3 {
        font-size: 18px;
        max-width: 395px;
    }

    .career .section-title {
        padding-bottom: 25px;
    }

}


@media only screen and (max-width: 480px) {
    
    #topbar {
        height: 60px;
    }

    .contact-info {
        display: block !important;
        line-height: 20px !important;
        padding-left: 10px;
    }

    #topbar .contact-info i {
        margin: 10px 0px;
        margin-left: 0 !important;
    }

    .hiro-second h1 {
        font-size: 28px !important;
    }

    .career .section-title h3 {
        max-width: 256px;
    }

    .logo-career {
        width: 155px;
    }

}