/* Common CSS */
* {
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    /* font-family: 'Marcellus', serif; */
    /* font-family: 'Montserrat', sans-serif; */
}
body {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.btn {
    text-decoration: none;
    display: inline;
    padding: 15px 30px;
    border-radius: 3px;
    font-weight: 500;
}
.btn-lightwhite {
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
}
.btn-lightwhite:hover {
    transition: all 0.5s;
    background-color: #ffffff;
    color: #3c8adf;
}
.btn-white {
    color: #0575e6;
    background-color: #fff;
}
.btn-white:hover {
    transition: all 0.5s;
    color: #fff;
    background-color: #39374d;
}
.btn-green {
    color: #fff;
    background-color: #21d368;
}
.btn-green:hover {
    transition: all 0.5s;
    background-color: #39374d;
}
.btn-blue {
    color: #fff;
    background-color: #0575e6;
}
.btn-blue:hover {
    transition: all 0.5s;
    background-color: #39374d;
}
.btn-outline-blue {
    border: 2px solid #0575e6;
    background-color: transparent;
    color: #0575e6;
}
.btn-outline-blue:hover {
    transition: all 0.5s;
    color: #fff;
    border: 2px solid #39374d;
    background-color: #39374d;
}
.btn-outline-green {
    border: 2px solid #21d368;
    background-color: transparent;
    color: #21d368;
}
.btn-outline-green:hover {
    transition: all 0.5s;
    color: #fff;
    border: 2px solid #39374d;
    background-color: #39374d;
}
.btn-circul {
    display: flex;
    background-color: #21d368;
    border-radius: 100%;
    width: 90px;
    height: 90px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 10px solid rgba(0, 214, 100, 0.3);
}
.btn-circul:after {
    text-indent: 0;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -7px;
    margin-top: -15px;
    border-width: 14px 22px;
    border-style: solid;
    border-color: transparent;
    transition: all ease 0.3s;
}
.btn-circul object {
    width: 30%;
    filter: invert(1);
    margin-left: 5px;
}

.position-relative {
    position: relative;
}
.section-bg-gray {
    background-color: #f5fbfc;
}
.section-padding {
    padding: 85px 0px;
}

#toTop {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 50px;
    z-index: 998;
    background-color: #eeeeee;
    border-radius: 50%;
    padding: 14px 16px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    /* box-sizing: border-box; */
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
  }



/* --------------------------- Home Page CSS Start --------------------------- */
/* Header CSS */
.site-header {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
}
.top-bar {
    width: 100%;
    border-bottom: 1px solid rgba(230, 227, 233, 0.2);
    display: none;
}
.top-bar-wrap {
    display: flex;
}
.top-bar-wrap .top-section {
    display: flex;
}
.top-bar-wrap .top-section .top-item {
    padding: 8px 16px;
    border-left: 1px solid rgba(230, 227, 233, 0.2);
    border-right: 1px solid rgba(230, 227, 233, 0.2);
}
.top-item a {
    color: #f9f9f9;
    font-size: 12px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.top-section:last-child {
    margin-left: auto;
}
.logo-wrap {
    width: 115px;
    display: flex;
    align-items: center;
    padding: 10px 0px;
}
.logo {
    width: 100%;
}
.main-header {
    border-bottom: 1px solid rgba(230, 227, 233, 0.2);
}
.main-header-wrap {
    display: flex;
}
.main-header-wrap a {
    display: flex;
    align-items: center;
}
.manu {
    margin-left: auto;
    display: flex;
}

.manu-wrap {
    height: 100%;
}
.manu-all {
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 100%;
    display: flex;
}
.manu-item {
    height: 100%;
}
.manu-item a {
    color: #f9f9f9;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 11px 30px;
    line-height: 39px;
    border-bottom: 4px solid transparent;
}
.manu-item a:hover {
    transition: all 0.5s;
    border-bottom: 4px solid #21d368;
}
.active a {
    border-bottom: 4px solid #21d368;
}
.manu-item a:hover {
    color: #ffffff;
}
.header-btn-wrap {
    padding: 15px 0px;
    display: flex;
}
.header-btn {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.toggle-btn-wrap {
    display: none;
    align-items: center;
    margin-left: auto;
}
.toggle-btn-wrap button {
    width: 38px;
    height: 38px;
    font-size: 24px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #eae6eeab;
    color: #c1c1c1;
}
.toggle-btn-wrap button {
    margin-top: 6px;
}

/* Main page css */
.site-main {
    width: 100%;
}

/* Banner Section Start */
.banner {
    background-image: url("../img/home-page/slider-seo-bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 0 0 2000px rgb(25 102 190 / 82%);
    height: 100vh;
}
.banner::after {
    content: "";
    width: 43%;
    height: 48%;
    background-color: rgb(183 207 234 / 38%);
    position: absolute;
    bottom: -181px;
    left: 31%;
    z-index: 1;
    transform: rotate(45deg);
    opacity: 0.5;
    border-top-left-radius: 150px 50%;
    border-bottom-left-radius: 150px 50%;
}
.banner::before {
    content: "";
    width: 43%;
    height: 48%;
    background-color: rgb(183 207 234 / 38%);
    position: absolute;
    top: 90px;
    left: -12%;
    z-index: 1;
    transform: rotate(-135deg);
    opacity: 0.5;
    border-top-left-radius: 150px 50%;
    border-bottom-left-radius: 150px 50%;
}
.banner .container::before {
    content: "";
    width: 87%;
    height: 48%;
    background-color: rgb(183 207 234 / 38%);
    position: absolute;
    top: -54px;
    left: 12%;
    z-index: 1;
    transform: rotate(-135deg);
    opacity: 0.5;
    border-top-left-radius: 150px 50%;
    border-bottom-left-radius: 150px 50%;
}
/* .banner::after {
    content: "";
    width: 650px;
    height: 450px;
    background-color: rgb(183 207 234 / 38%);
    position: absolute;
    bottom: -181px;
    left: 31%;
    z-index: 1;
    transform: rotate(45deg);
    opacity: 0.5;
    border-top-left-radius: 260px 50%;
    border-bottom-left-radius: 260px 50%;
}
.banner::before {
    content: "";
    width: 650px;
    height: 450px;
    background-color: rgb(183 207 234 / 38%);
    position: absolute;
    top: 90px;
    left: -12%;
    z-index: 1;
    transform: rotate(-135deg);
    opacity: 0.5;
    border-top-left-radius: 260px 50%;
    border-bottom-left-radius: 260px 50%;
}
.banner .container::before {
    content: "";
    width: 1000px;
    height: 464px;
    background-color: rgb(183 207 234 / 38%);
    position: absolute;
    top: -54px;
    left: 12%;
    z-index: 1;
    transform: rotate(-135deg);
    opacity: 0.5;
    border-top-left-radius: 260px 50%;
    border-bottom-left-radius: 260px 50%;
} */

.banner .container {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.banner-contant {
    max-width: 800px;
    margin-top: 8%;
    z-index: 1;
}
.banner-hedding {
    color: #ffffff;
    line-height: 84px;
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 62px;
    margin: 0;
}
.banner-paregraph {
    color: #ffffff;
    width: 678px;
    line-height: 35px;
    font-size: 22px;
}
.banner-btn {
    margin: 45px 0px;
}
.banner-btn .btn-white:last-child {
    margin-left: 5px;
}

/* About Section Start */
.section-wrap {
    display: flex;
    flex-wrap: wrap;
}
.section-two {
    width: 50%;
}
.section-in {
    padding: 0px 10px;
    height: 100%;
}
.main-span {
    font-weight: 500;
    color: #21d368;
    letter-spacing: 0.25px;
    margin-bottom: 15px;
    margin-left: 2px;
    font-size: 16px;
    display: block;
    text-transform: uppercase;
}
.main-hedding-h2 {
    max-width: 555px;
    margin: 0;
    color: #39374d;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 3.25em;
    line-height: 1.2;
}
.main-paregraph {
    font-style: normal;
    color: #5e5d6c;
    font-size: 19px;
    line-height: 28px;
    max-width: 435px;
    margin-bottom: 35px;
}
.width-43 {
    width: 43% !important;
}
.width-57 {
    width: 57% !important;
}
.box-y-center {
    display: flex;
    align-items: center;
}
.about .douts-victor {
    position: absolute;
    right: -80px;
    top: -27px;
    z-index: -1;
}
.about .main-paregraph {
    max-width: 100%;
}

/* Facts Section Start */
.facts {
    background-image: url("../img/home-page/section-bg2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.section-three {
    width: 33.33%;
}
.facts-icons-wrap {
    height: 55px;
    text-align: center;
}
.facts .section-in {
    padding: 0px 15px;
}
.facts-text-wrap {
    text-align: center;
    padding-top: 20px;
}
.facts .main-hedding-h2 {
    font-weight: 400;
    color: #fff;
}
.facts .main-paregraph {
    color: #fff;
    margin-bottom: 0%;
    font-size: 18px;
}
.main-hedding-h5 {
    font-weight: 500;
    font-size: 22px;
    margin: 15px 0px;
}
.facts .main-hedding-h5 {
    color: #ffffff;
}

/* Our Process section Start */
.first-img {
    border-radius: 10px;
}
.second-img {
    position: absolute;
    right: 10px;
    top: 25px;
    border-radius: 10px;
}
.our-process-items {
    padding-left: 82px;
    position: relative;
}
.our-process-icon {
    width: 50px;
    position: absolute;
    top: -10px;
    left: 15px;
}
.our-process .douts-victor {
    position: absolute;
    bottom: -34px;
    left: -105px;
    z-index: -1;
}
.our-process .main-hedding-h5 {
    color: #39374d;
}
.our-process .main-paregraph {
    font-size: 18px;
}

/* Service Section Starts */
.service {
    height: 555px;
}
.service .section-in {
    padding: 0px 15px;
}
.service-text {
    text-align: center;
    margin-bottom: 100px;
}
.service .main-hedding-h2 {
    max-width: unset;
    font-size: 2.25em;
}
.service .main-paregraph {
    max-width: 620px;
    margin: 0 auto;
}
.service-icon-wrap {
    height: 60px;
}
.service-box {
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 20px;
    padding: 50px 36px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.service-box:hover {
    transition: all 0.5s;
    margin-top: 0px;
    margin-bottom: 10px;
    transition: all 0.5s;
    border-color: #21d368;
}
.service .center-service-box {
    border-bottom: 5px solid transparent;
    border-color: #fff;
}
.service .center-service-box:hover {
    border-bottom: 5px solid #21d368;
}
/* .service-items-text {
    position: relative;
} */
.right-arrow {
    position: absolute;
    right: 10px;
    bottom: -30px;
    width: 23px;
    color: #5e5d6c;
}
.right-arrow:hover {
    transition: all 0.5s;
    color: #21d368;
}
.bottom-btn {
    margin-top: 80px;
    text-align: center;
}
.service .section-three {
    z-index: 1;
}
.douts-victor-wrap {
    position: relative;
}
.douts-victor {
    position: absolute;
    right: -100px;
    top: -45px;
    z-index: 0;
}
.service .main-hedding-h5 {
    color: #39374d;
}

/* Our Client Section Start */
.our-client {
    margin-top: 185px;
}

/* Progress section Start */
.progress .first-img,
.progress .second-img {
    box-shadow: 0px 10px 90px 0px rgb(110 123 131 / 20%);
}
.progress .skill-title{
    color:white;
    margin-bottom: 1rem;
}
.progress-items {
    position: relative;
    margin: 30px 0px;
}
.progress-contant {
    width: 100%;
}
.progress-hedding {
    font-size: 28px;
    margin-bottom: 50px;
    color: #39374d;
}
.progress-title {
    color: #39374d;
    font-size: 17px;
}
.progress-div {
    background-color: #eeeeee;
    border-radius: 5px;
    height: 10px;
    width: 100%;
}
.progress-main {
    background: linear-gradient(to right, #04d7585e 0%, #21d368 100%);
    height: 10px;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
}
.progress-per {
    color: #39374d;
    font-size: 17px;
    position: absolute;
    top: -25px;
    right: 0px;
}
.progress .douts-victor {
    position: absolute;
    right: -105px;
    top: 200px;
    z-index: -1;
}
/* FAQ Section Starts */

.faq .box-y-center {
    justify-content: center;
}
.pl-0 {
    padding-left: 0%;
}
.pr-0 {
    padding-right: 0%;
}
.faq-contant {
    max-width: 75%;
}
.faq .faq-contant .progress-hedding {
    font-weight: 500;
}
.accordion {
    width: 100%;
    margin: 1rem auto;
}
.accordion-item {
    background-color: #fff;
    color: #111;
    margin: 1rem 0;
    border-radius: 5px;
    overflow: hidden;
}
.accordion-item-header {
    padding: 0.5rem 1rem 0.5rem 4rem;
    border: 1px solid #c5e0f8;
    border-radius: 5px;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    color: #39374d !important;
}
.accordion-item-header:hover {
    transition: all 0.5s;
    color: #21d368 !important;
}
.accordion-item-header.acc-active {
    background-color: #21d368;
    color: #fff !important;
}
.accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    left: 1.5rem;
    top: 14px;
    font-weight: 500;
}
.accordion-item-header.acc-active::after {
    content: "\2212";
}
.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f5fbfc;
}
.accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    font-size: 18px;
}

/* Pricing Section Start */
.pricing-text {
    text-align: center;
    margin-bottom: 100px;
}
.pricing .main-hedding-h2 {
    max-width: unset;
    font-size: 2.25em;
}
.pricing .main-paregraph {
    max-width: 670px;
    margin: 50px auto;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
}
.switch .individual {
    color: #748494;
    font-size: 15px;
    position: absolute;
    left: -75px;
    top: 4px;
}
.switch .agency {
    color: #748494;
    font-size: 15px;
    position: absolute;
    right: -60px;
    top: 3px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #21d368;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.switch input:checked + .slider {
    background-color: #21d368;
}
.switch input:focus + .slider {
    box-shadow: 0 0 1px #21d368;
}
.switch input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.pricing-box {
    background-color: #fff;
    margin: 20px 0;
    text-align: center;
    padding: 50px 40px 40px;
    border-radius: 20px;
    box-shadow: 0 5px 90px 0 rgb(110 123 131 / 10%);
    border-bottom: 5px solid #fff;
    transition: all ease 0.3s;
}
.pricing-box:hover {
    transform: translateY(-5px);
    border-color: #21d368;
}
.pricing-span {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #21d368;
    background-color: #f5fbfc;
    padding: 5px 43px;
    border-radius: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
.pricing-price {
    font-size: 52px;
    color: #39374d;
    margin: 15px 0px 17px;
    font-weight: 400;
}
.pricing-price sup {
    font-size: 30px;
}
.pricing-features {
    list-style-type: none;
    padding: 0%;
    margin-bottom: 45px;
}
.pricing-features li {
    padding: 10px 0;
    font-size: 18px;
    color: #748494;
}
.pricing-hidden-fees {
    margin-top: 25px;
    font-size: 15px;
    color: #c1c1c1;
}

.pricing .section-in {
    padding: 0px 15px;
}
.pricing-center {
    margin: 0px;
    height: 100%;
}

/* Free Consultation Section Start */
.free-consultation {
    background-image: url("../img/home-page/section-bg6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 100%; */
    background-position: center;
    height: 584px;
    box-shadow: inset 0 0 0 2000px rgb(61 58 55 / 37%);
}
.free-consultation .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}
.free-consultation-text {
    text-align: center;
}
.free-consultation-text .main-hedding-h2 {
    max-width: 725px;
    font-size: 3em;
    margin: 0 auto;
    color: #21d368;
}
.free-consultation-text .main-hedding-h2 span {
    font-weight: 300;
    color: #fff;
}
.free-consultation-text .main-paregraph {
        max-width: 645px;
        margin: 50px auto;
        color: #fff;
}
.free-consultation .btn {
    display: inline-block;
}

/* News Section Starts */
.news .main-hedding-h2 {
    font-size: 2.25em;
    margin-bottom: 30px;
}
.news-active {
    display: flex;
}
.news-items {
    width: 33%;
    position: relative;
    overflow: hidden;
    padding: 125px 35px 25px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    margin: 0px 10px;
}
.news-items .news-text {
    font-weight: 600;
    color: #39374d;
}
.news-items.news-first {
    padding: 80px 35px 25px;
}
.news-first {
    background-image: url("../img/home-page/blog-meta.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 315px;
}
.news-first .news-text {
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 15px 0px 25px;
}
.news-first p.news-text {
    font-size: 16px;
}
.news-profile {
    display: flex;
    margin-top: 50px;
}
.news-profile .news-img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    overflow: hidden;
}
.news-profile .news-profile-text {
    margin: 10px 20px;
}
.news-profile .news-profile-text h5 {
    text-transform: uppercase;
    font-weight: 500;
    color: #39374d;
    margin: 2px 0px;
}
.news-profile .news-profile-text .news-date {
    display: block;
    color: #748494;
    font-size: 16px;
}
.news-items .right-arrow {
    position: absolute;
    right: 15px;
    bottom: 10px;
}
.news .slick-dots {
    position: absolute;
    top: 100%;
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: center;
}
.news .slick-dots li {
    margin: 0px 5px;
}
.news .slick-dots li button {
    width: 8px;
    height: 10px;
    font-size: 0px;
    color: #21d368;
    background-color: #21d368;
    border: none;
    border-radius: 100% !important;
    outline: none;

}

/* Contact Us Section Starts */
.contact-us {
    background-image: url("../img/home-page/section-bg7.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 746px;
}
.contact-box {
    background-color: #fff;
}
.contact-box {
    padding: 90px 17% 80px;
    border-radius: 7px;
}
.contact-us .main-hedding-h2 {
    max-width: unset;
    font-size: 40px;
    color: #fff;
}
.contact-box .main-hedding-h2 {
    text-align: center;
    color: #39374d;
}
.contact-details-wrap {
    width: 90%;
}
.contact-details-wrap .main-hedding-h2 {
    margin-bottom: 40px;
}
.address-details {
    border-bottom: 0.5px solid #f1f1f1;
    margin: 25px 0px;
}
.address-details .main-hedding-h5 {
    color: #fff;
    margin: 0px;
}
.address-details .main-paregraph {
    color: #cacaca;
    font-size: 17px;
    margin: 0px;
    margin-bottom: 10px;
}
.address-details .main-paregraph span {
    color: #21d368;
}
.contact-form {
    margin-top: 60px;
    text-align: center;
}
.fild-div {
    margin: 15px 0px;
    width: 100%;
}
.fild-div .fild {
    width: 100%;
    background-color: #f5f5f5;
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 3px;
    font-size: 16px;
}
.fild-div .fild-div:last-child .fild {
    height: 150px;
}
.contact-form button {
    border: none;
    outline: none;
    margin-top: 10px;
    font-size: 17px;
}

/* Footer Section Start */

.footer-manu {
    list-style-type: none;
    padding: 0%;
}
 
.footer-logo-wrap {
    height: 80px;
}
.footer-icon ul {
    list-style-type: none;
    padding: 0%;
    display: flex;
    margin: 0;
}
.footer-icon ul li {
    margin: 10px;
}
.footer-icon ul li a {
    font-size: 16px;
    display: flex;
    width: 50px;
    height: 50px;
    border: 1px solid #dadada;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #748494;
    text-decoration: none;
}
.main-footer .main-paregraph {
    margin: 40px 0px;
    font-size: 16px;
    max-width: 312px;
}
.footer-icon ul li a:hover {
    transition: all 0.5s;
    background-color: #21d368;
    color: #fff;
}

.footer-manu li {
    margin: 25px 0px;
}

.footer-manu li a {
    text-decoration: none;
    color: #373737;
}
.footer-manu li a:hover {
    transition: all 0.5s;
    color: #21d368;
}
.text-green {
    color: #21d368;
}
.width-33 {
    width: 33.33%;
}
.width-66 {
    width: 66.66%;
}
/* copyright footer */
.copyright-footer .container {
    border-top: 1px solid #e6e3e9;
    display: flex;
}
.copyright-text p {
    margin: 25px 0px;
    color: #5e5d6c;
}
.copyright-links {
    margin-left: auto;
    display: inline-flex;
    align-items: center;
}
.copyright-links a {
    text-decoration: none;
    color: #748494;
}
.copyright-links a:hover {
    transition: all 0.5s;
    color: #21d368;
}

/* --------------------------- About Page CSS Start --------------------------- */
/* second Header section */
.second-header .top-bar-wrap .top-section .top-item {
    border-left: 1px solid #e6e3e9;
    border-right: 1px solid #e6e3e9;
}
.second-header .top-item a {
    color: #556575;
}
.second-header .top-bar,
.second-header .main-header {
    border-bottom: 1px solid #e6e3e9;
}
.second-header .manu-item a {
    color: #556575;
}

/* Second Banner Section Starts */
.second-banner {
    background-image: url("../img/about/featured-title-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    padding-top: 130px;
}
.second-banner .banner-contant {
    text-align: center;
    max-width: none;
}
.second-banner .banner-hedding {
    font-size: 37px;
    color: #39374d;
    text-align: center;
    margin-bottom: 20px;
}
.second-banner .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}
.breadcrumb-trail a {
    padding-right: 25px;
    color: #39374d;
    text-decoration: none;
    position: relative;
}
.breadcrumb-trail a:hover {
    color: #21d368;
}
.breadcrumb-trail a:after {
    content: "\f105";
    font-family: "FontAwesome";
    font-size: 16px;
    color: #39374d;
    position: absolute;
    right: 8px;
    top: -1px;
    line-height: 26px;
}
.breadcrumb-trail span {
    color: #39374d;
}
.about-page .about .main-span {
    color: #21d368;
}
.about-page .about .main-hedding-h2 {
    max-width: 820px;
    font-size: 2.8em;
}
.about-page .about .main-paregraph {
    max-width: 530px;
    margin: 10px 0px;
}
.text-bold {
    font-weight: 500 !important;
}
.about-page .about .img-one {
    border-radius: 10px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}
.about-page .about .img-two {
    border-radius: 10px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.about-gred .main-hedding-h2 {
    font-weight: 400;
}
.about-gred .main-hedding-h2 div {
    display: inline;
    color: #0575e6;
}
.about-gred .main-paregraph {
    margin: 15px 0px !important;
}
.two-img-wrap-box {
    width: 100%;
    height: 100%;
    max-height: 500px;
}


/* About two section Starts */
.about-two .img-wrap {
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
}
.about-two-img-icon {
    height: 55px;
}
.about-two-contant .main-hedding-h2 {
    font-size: 42px;
}
.about-two-contant .main-paregraph {
    max-width: 550px;
    font-weight: 400;
}
.about-two-text .main-hedding-h5 {
    font-size: 20px;
}
.about-two-text .main-paregraph {
    font-size: 17px;
    max-width: 85%;
    font-weight: 400;
}
.about-two-contant .section-wrap {
    margin-bottom: 20px;
} 
.about .section-in .section-wrap .section-two ul {
    list-style-type: none;
    color: #5e5d6c;
    font-size: 18px;
    line-height: 28px;
    padding-left: 30px;
}
.about .section-in .section-wrap .section-two ul li {
    position: relative;
    padding: 4px 0px;
}
.about .section-in .section-wrap .section-two ul li::before {
    content: "\f00c";
    font-family: "FontAwesome";
    color: #21d368;
    position: absolute;
    top: 4px;
    left: -12%;
    z-index: 1;
}

/* Our Work Process Section Start */
.our-work-process-contant {
    text-align: center;
    margin-bottom: 75px;
}
.our-work-process-contant .main-span {
    text-align: center;
    margin-bottom: 20px;
    color: #21d368;
}
.our-work-process-contant .main-hedding-h2 {
    max-width: 873px;
    margin: 0 auto;
    font-size: 2.8em;
}
.our-work-process-contant .main-paregraph {
    max-width: 690px;
    margin: 25px auto;
}
.our-work-process-box {
    text-align: center;
}
.our-work-icon-wrap {
    background-color: #21d368;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.our-work-process-text .main-hedding-h5 {
    font-size: 20px;
    color: #39374d;
    margin: 20px 0px;
}
.our-work-process-text .main-paregraph {
    max-width: 90%;
    margin: 0 auto;
}
.bottom-line {
    width: 30px;
    height: 5px;
    background-color: #e7e7e7;
    margin: 25px auto;
    display: block;
}

/* Get in touch Section Start */
.get-in-touch {
    background-image: url("../img/about/section-bg1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 500px;
    box-shadow: inset 0 0 0 2000px rgb(68 65 62 / 31%);
}
.get-in-touch .box-y-center {
    justify-content: center;
}
.get-in-touch .container,
.get-in-touch .section-wrap {
    height: 100%;
}
.get-in-touch-contant .main-hedding-h2 {
    font-size: 3.3em;
    max-width: 100%;
    color: #fff;
}
.get-in-touch-contant .main-paregraph {
    max-width: 100%;
    color: #fff;
    margin-bottom: 0px;
}



/* --------------------------- Service Page CSS Start --------------------------- */
/* Service Section Starts */
.service-contant {
    max-width: 775px;
    margin: 0 auto;
    text-align: center;
}
.service-contant .main-hedding-h2 {
    max-width: none;
    font-size: 2.8em;
}
.service-contant .main-paregraph {
    max-width: none;
}
.service-page .services .service-box {
    box-shadow: 0px 5px 90px 0px rgb(110 123 131 / 10%) !important;
    border: none;
    border-bottom: 5px solid transparent;
    border-color: #fff;
    height: 100%;
    position: relative;
}
.service-page .services .service-box .right-arrow {
    bottom: 25px;
    right: 35px;
}
.service-page .services .service-box:hover {
    border-bottom: 5px solid #21d368;
}
.service-page .services .section-three {
    margin: 15px 0px;
}
.service-page .services .section-in {
    padding: 0px 15px;
}
.service-page .services .service-box .main-paregraph {
    font-size: 17px;
    overflow: hidden;
}
.service-page .services .main-span {
    color: #c1c1c1;
}
.service-page .services .service-box .main-hedding-h5 {
    color: #39374d;
    font-size: 20px;
}

/* Service Range Section Starts */
.service-range {
    background-image: url("../img/services/section-bg1-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    box-shadow: inset 0 0 0 2000px rgb(61 58 55 / 47%);
}
.service-range-contant {
    justify-content: end;
    align-items: end;
}
.service-range-contant .main-hedding-h2 {
    font-size: 2.4em;
    color: #fff;
}
.service-range-contant .main-paregraph {
    color: #fefefe;
    max-width: none;
    font-size: 17px;
    margin-bottom: 10px;
}
.service-range-gred {
    margin: 50px 0px;
}
.service-range-gred .section-in {
    padding: 0px 25px;
}
.service-range-gred .main-hedding-h5 {
    color: #fff;
    font-size: 20px;
}
.service-range-gred .main-paregraph {
    color: #fefefe;
    max-width: none;
    font-size: 17px;
}
.lets-get-box {
    background-image: url("../img/services/action-box-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 320px;
    border-radius: 7px;
    text-align: center;
    padding: 70px 0px;
}
.lets-get-box .main-hedding-h2 {
    margin: 0 auto;
    font-size: 2.8em;
    max-width: 700px;
    color: #fff;
}
.lets-get-box .btn {
    display: inline-block;
    margin: 25px 0px;
    color: #696969;
}
.lets-get-box .btn:hover {
    transition: all 0.5s;
    color: #fff;
}
.section-four {
    width: 25%;
}

/* fact Count Section Starts */
.fact-count {
    margin-top: 100px;
}
.fact-count .main-hedding-h2 {
    color: #21d368;
    font-weight: 400;
}
.fact-count .main-hedding-h5 {
    color: #39374d;
}

/* Testimonial Section Starts */
.testimonial {
    height: 555px;
}
.testimonial-contant {
    display: block;
    text-align: center;
    justify-content: center;
}
.testimonial-contant .main-hedding-h2 {
    max-width: none;
    font-size: 2.1em;
}
.testimonial-contant .main-paregraph {
    max-width: 650px;
    display: inline-block;
}
.testimonial-slider {
    display: flex;
}
.testimonial-items {
    width: 33.33%;
}
.testimonial-card {
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
}
.quote-wrap {
    height: 45px;
}
.quote-wrap object {
    height: 100%;
}
.testimonial-card .news-profile {
    margin-top: 30px;
}
.testimonial-card .main-paregraph {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
}
.testimonial .carousel-client-wrap {
    margin-top: 100px
}
.testimonial .slick-dots {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 400px;
}
.testimonial .slick-dots li {
    margin: 0px 5px;
}
.testimonial .slick-dots li button {
    font-size: 0px;
    background-color: #21d368;
    border-radius: 100%;
    width: 5px;
    height: 15px;
    border: 2px solid #fff;
}
.testimonial .slick-active button {
    border: 2px solid #21d3687a !important;
}

/* get in touch about Section Starts */
.get-in-touch-about {
    background-image: url("../img/services/section-bg2-3.jpg");
    margin-top: 400px;
    box-shadow: inset 0 0 0 2000px rgb(61 58 55 / 37%);
}
.get-in-touch-about .get-in-touch-contant .main-hedding-h2 {
    max-width: 75%;
    margin-bottom: 50px;
    font-size: 2.8em;
}


/* --------------------------- Contact Us Page CSS Start --------------------------- */
/* Outstanding solution Secton Starts */
.outstanding-solution .img-wrap {
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
}
.outstanding-solution .main-paregraph {
    max-width: none;
}
.outstanding-solution .main-paregraph {
    max-width: 95%;
    font-size: 18px;
}
.container.hr {
    border-top: 1px solid #eee;
}


/* Contact Details Section Starts */
.contact-details .contact-details-contant {
    text-align: center;
    margin-bottom: 50px;
}

.contact-details .main-hedding-h2 {
    display: inline-block;
    max-width: 875px;
    font-size: 3em;
}
.contact-details .main-paregraph {
    font-size: 21px;
    max-width: 770px;
    display: inline-block;
}
.contact-details-card {
    text-align: center;
}
.contact-details .section-three:first-child .contact-details-icon {
    background-color: #21d368;
}
.contact-details-icon {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0px 5px 50px 0px rgb(0 214 100 / 10%);
    position: relative;
}
.contact-details-icon:hover {
    transition: all 0.5s;
    background-color: #39374d !important;
}
.contact-details-icon:hover img {
    transition: all 0.5s;
    filter: brightness(100);
}
.contact-details-icon img {
    width: 45%;
}
.dotted-lines {
    width: 125px !important;
    position: absolute;
    left: 155%;
}

.contact-details-text .main-hedding-h5 {
    font-size: 21px;
    color: #39374d;
    margin: 40px 0px 20px;
}
.contact-details-text .main-paregraph {
    display: block;
    font-size: 18px;
    max-width: 335px;
    margin: 0 auto;
    color: #748494;
}

/* Futer Oriented Section Start */
.futer-oriented .img-wrap {
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
}
.futer-oriented .main-hedding-h2 {
    font-weight: 500;
}
.futer-oriented .about-two-contant .main-paregraph {
    max-width: 600px;
    font-size: 20px;
    font-weight: 500;
}
.futer-oriented .about-two-contant .btn-white {
    color: #21d368;
    display: inline-block;
    margin-top: 20px;
}
.futer-oriented-links {
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0px;
    color: #777;
    position: relative;
}
.futer-oriented-links:hover span {
    transition: all 0.5s;
    margin-right: 45px;
}
.futer-oriented-links:hover img {
    transition: all 0.5s;
    display: block;
}
.futer-oriented-links span {
    margin-right: 0px;
    display: inline-block;
    background-color: #f5fbfc;
    transition: transform ease 0.3s;
}
.futer-oriented-links img {
    width: 22px;
    position: absolute;
    top: 8px;
    right: 1px;
    z-index: 0;
    display: none;
}
.futer-oriented .section-two:first-child .futer-oriented-links {
    color: #39374d;
}

/* Contact Form Section Start */
.contact-form-contant {
    text-align: left;
}
.contact-form-contant .main-hedding-h5 {
    font-size: 25px;
    margin: 15px 10px;
}
.contact-page .contact-form-section {
    margin: 0;
}
.contact-form-section .message {
    height: 150px;
}
.contact-page .contact-form {
    text-align: left;
}
.contact-form-section .contact-form button {
    margin: 10px;
    padding: 12px 40px;
}

/* --------------------------- Section Details Page CSS Start --------------------------- */
.service-details-img-wrap {
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    height: 400px;
}
.service-details-img-wrap img {
    width: 100%;
    /* height: 100%; */
}
.service-details-contant-wrap {
    margin: 30px 0px;
}
.service-details-contant-wrap .main-paregraph {
    max-width: 100%;
    margin: 30px 0px;
    font-size: 20px;
}
.service-details .contact-form-contant {
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 10px;
}
.service-details .contact-form-contant .fild-div .fild {
    background-color: #fff;
}
.service-details .contact-form-contant .contact-form {
    margin-top: 25px;
}
.service-details .contact-form-contant .btn {
    width: 100%;
}
.service-details .contact-form-contant .fild-div {
    margin: 20px 0px;
}
.service-details .contact-form-contant .main-hedding-h5 {
    font-size: 24px;

}
.text-bold-600 {
    font-weight: 600 !important;
}