/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



body{
	color:#4d4d4d;
	font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

ul, li, ol{
	margin:0px;
	padding:0px;
	list-style:none;
}

html, body{ height: 100%; }

/* Colors */
.colorPrimary {
    color: #4D4D4D;
}

.colorRed {
    color: #BC091E;
}

.colorWhite {
    color: #FFFFFF;
}

.colorSuvaGrey {
    color: #919191;
}

/* Button colrs */
.btn-white {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 0;
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 0;
}

.btn-red {
    width: 100px;
    background-color: #BC091E;
    border: 1px solid #BC091E;
    border-radius: 0;
}

.btn-red:hover ,.btn-red:focus, .btn-red:active {
    color: #FFFFFF;
    box-shadow: none;
} 
/* Padding */
.section_padding40 {
    padding-top: 40px;
}
.section_padding60 {
    padding-top: 60px;
}
.section_padding100 {
    padding-top: 100px;
}
.customPadding {
    padding: 0 96px;
}
/* Margins */
.section_margin40 {
    margin-top: 40px;
}
.section_margin100 {
    margin-top: 100px !important;
}
.ml-40 {
    margin-left: 40px;
}
/*Header css of comming soon page*/
.header-block-top {
    padding: 20px;
}
.header-block-top .mainLogo {
    width: 270.38px;
    height: 44.29px;
}
/* Bannner css */
.bannerSection .Servicesimg {
    width: 128px;
    height: 127px;
    margin-bottom: 20px;
}
.bannerSection .lblServices {
    font-size: 16px;
    font-weight: bold;
}
/*Comming soon section */
.commingSoonsection .titleCmmingSoonsectn {
    font-size: 42px;
    font-weight: 200;
    margin-bottom: 10px;
    text-align: center;
    line-height: 1;
}
.commingSoonsection .lblCommingsoon {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
}
/* mail id section */
.mailIdsection .form-control {
    width: 350px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 30px;
}
.mailIdsection .btnSend {
    width: 100px;
    padding: 5px;
    text-align: center;
    border-radius: 30px;
    color: #FFFFFF;
    background-color: #BC091E;
}
/* Footer section  of comming soon page*/
.footerBG {
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: #BC091E; 
}
.footerBG ul {
    line-height: 60px;
}
.footerBG ul .socialMediaimg {
    width: 25px;
    height: 25px;
}
.footerBG ul li {
    margin-right: 20px;
}






/* Responsive css */
@media(max-width: 480px) {
    .mailIdsection .form-control {
        width: 300px;
    }
}